@charset "UTF-8";
/*
    scss 는 컴포넌트 방식으로 여러개의 파일을 나눠서 작성하기 때문에 통합하는 과정이 필요
    동일한 scss 파일을 import 할 때에는 확장자 명을 생략해도 가능

    컴파일이 필요하지 않은 scss 파일은 파일명 앞에 '_'를 붙이면 컴파일 제외 대상이 됨
*/
/* v2.0 | 20110126
  http://meyerweb.com/eric/tools/css/reset/ 
  License: none (public domain)

  reset.css 가 추가되어야 하는 이유
  margin, table 등 디자인이 부자여느러운 것을 없애기 위해 reset CSS 파일이 있다. 
  이는 브라우저의 스타일을 초기화하기 위해 사용하는 파일이다. 
  크로스브라우징을 구현할 때 유용. 대표적인 사이트로는 cssreset가 있다.
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

@font-face {
  font-family: "genesis-head-light";
  src: url("../../fonts/GenesisSansHeadKRLight.eot");
  src: url("../../fonts/GenesisSansHeadKRLight.eot#iefix") format("embededopentype"), url("../../fonts/GenesisSansHeadKRLight.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "genesis-head";
  src: url("../../fonts/GenesisSansHeadKRRegular.eot");
  src: url("../../fonts/GenesisSansHeadKRRegular.eot#iefix") format("embededopentype"), url("../../fonts/GenesisSansHeadKRLight.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "genesis-text";
  src: url("../../fonts/GenesisSansTextKRRegular.eot");
  src: url("../../fonts/GenesisSansTextKRRegular.eot") format("embededopentype"), url("../../fonts/GenesisSansTextKRRegular.woff2") format("woff2");
  font-size: normal;
  font-weight: 300;
}
.inner {
  width: auto;
  height: 100%;
  padding: 0px 140px;
  position: relative;
  top: 0px;
  left: 0px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  z-index: -1;
  border: none;
}

body, html {
  font-size: 10px;
  font-family: "genesis-text", sans-serif;
  line-height: 1;
  background: #111111;
}

.skip-menu li a {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1px;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  color: #ffffff;
  text-align: center;
}
.skip-menu li a:focus {
  width: 100%;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
}

.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
}
.h-container {
  width: 100%;
  height: 70px;
}
.h-container .inner {
  display: flex;
  align-items: center;
}

.logo {
  width: 125px;
  margin-right: 68px;
}

.gnb {
  height: 100%;
}
.gnb .gnb-list {
  display: flex;
  gap: 60px;
  height: 100%;
}
.gnb .gnb-list li a {
  display: flex;
  align-items: center;
  height: 100%;
  color: rgba(255, 255, 255, 0.7);
  transition: 300ms;
  font-size: 15px;
}
.gnb .gnb-list li a:hover {
  color: rgb(255, 255, 255);
}

.suppot-menu {
  margin-left: auto;
  display: flex;
  height: 100%;
  gap: 30px;
}
.suppot-menu a {
  color: rgba(255, 255, 255, 0.7);
  transition: 300ms;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
}
.suppot-menu a:hover {
  color: rgb(255, 255, 255);
}
.suppot-menu a img {
  width: 17px;
}
.suppot-menu img {
  display: none;
}
.suppot-menu .search-btn img {
  display: block;
}

.ham-btn {
  width: 66px;
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0px 22px;
  box-sizing: border-box;
  margin-left: 22px;
}
.ham-btn div {
  width: 100%;
  height: 13px;
  position: relative;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}
.ham-btn div i {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0px;
  transition: 500ms;
}
.ham-btn div .line01 {
  top: 0px;
}
.ham-btn div .line02 {
  top: 100%;
}
.ham-btn:hover .line01 {
  top: 50%;
  transform: rotate(45deg);
}
.ham-btn:hover .line02 {
  top: 50%;
  transform: rotate(-45deg);
}
.ham-btn:before {
  content: "";
  width: 1px;
  height: 20px;
  background: rgba(255, 255, 255, 0.3);
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}