@charset "UTF-8";
/*
    scss 는 컴포넌트 방식으로 여러개의 파일을 나눠서 작성하기 때문에 통합하는 과정이 필요
    동일한 scss 파일을 import 할 때에는 확장자 명을 생략해도 가능

    컴파일이 필요하지 않은 scss 파일은 파일명 앞에 '_'를 붙이면 컴파일 제외 대상이 됨
*/
/*base*/
/* v2.0 | 20110126
  http://meyerweb.com/eric/tools/css/reset/ 
  License: none (public domain)

	reset.css 가 추가되어야 하는 이유
	margin, table 등 디자인이 부자여느러운 것을 없애기 위해 reset CSS 파일이 있다.   
	이는 브라우저의 스타일을 초기화하기 위해 사용하는 파일이다.  
	크로스브라우징을 구현할 때 유용. 대표적인 사이트로는 cssreset가 있다.
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

/*font*/
/*color*/
@font-face {
  font-family: "genesis-head-light";
  src: url("../../fonts/GenesisSansHeadKRLight.eot");
  src: url("../../fonts/GenesisSansHeadKRLight.eot#iefix") format("embededopentype"), url("../../fonts/GenesisSansHeadKRLight.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "genesis-head";
  src: url("../../fonts/GenesisSansHeadKRRegular.eot");
  src: url("../../fonts/GenesisSansHeadKRRegulareot#iefix") format("embededopentype"), url("../../fonts/GenesisSansHeadKRRegular.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "genesis-text";
  src: url("../../fonts/GenesisSansTextKRRegular.eot");
  src: url("../../fonts/GenesisSansTextKRRegular.eot") format("embededopentype"), url("../../fonts/GenesisSansTextKRRegular.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
.link-box .link-text-btn.v2 {
  color: #ffffff;
  font-size: 16px;
  display: inline-flex; /* 100% 영역을 컨텐츠 만큼 차지함*/
  gap: 6px;
  align-items: center;
  position: relative;
  top: 0px;
  left: 0px;
}
.link-box .link-text-btn.v2 span {
  display: block;
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
}
.link-box .link-text-btn.v2 span:after {
  content: "";
  width: 0%;
  height: 1px;
  background: #ffffff;
  display: block;
  position: absolute;
  left: 0px;
  bottom: -6px;
}
.link-box .link-text-btn.v2 span:hover:after {
  transition: 500ms;
  width: 100%;
}
.link-box .link-text-btn.v2 span:before {
  content: "";
  height: 1px;
  width: 100%;
  background: #ffffff;
  display: block;
  position: absolute;
  left: 0px;
  bottom: -6px;
}
.link-box .link-text-btn.v2 span:hover:before {
  display: none;
}

.inner {
  width: auto;
  height: 100%;
  padding: 0px 140px;
  position: relative;
  top: 0px;
  left: 0px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  z-index: -1;
  border: none;
}

body, html {
  font-size: 10px;
  font-family: "genesis-text", sans-serif;
  line-height: 1;
  background: #111111;
}

.skip-menu li a {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1px;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  color: #ffffff;
  text-align: center;
  z-index: 9999;
  background: #111111;
}
.skip-menu li a:focus {
  width: 100%;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
}

.dic-btn {
  width: 100%;
  height: 56px;
  border: solid 1px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  box-sizing: border-box;
  position: relative;
  top: 0px;
  left: 0px;
  transition: 500ms;
  font-size: 16px;
  z-index: 1;
  margin-top: 40px;
  transform: translateY(10px);
}
.dic-btn:after {
  content: "";
  width: 0px;
  height: 100%;
  background: #ffffff;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: -1;
  transition: width 0ms 500ms, opacity 500ms 0ms;
}
.dic-btn:hover:after {
  width: 100%;
  opacity: 1;
  transition: width 500ms 0ms, opacity 0ms;
}
.dic-btn:hover {
  color: #151515;
}

.slide-up {
  transition: height 600ms, opacity 600ms;
  overflow: hidden;
}

.slide-down {
  transition: height 600ms, opacity 600ms;
}

.mobile {
  display: none;
}

@media screen and (max-width: 1600px) {
  .inner {
    padding: 0px 100px;
  }
}
@media screen and (max-width: 1360px) {
  .inner {
    padding: 0px 75px;
  }
}
@media screen and (max-width: 1024px) {
  .inner {
    padding: 0px 20px;
  }
}
@media screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
}
/*layout*/
.h-container {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  background: #111111;
}
.h-container .inner {
  display: flex;
  align-items: center;
}

.logo {
  width: 125px;
  margin-right: 68px;
}

.gnb {
  height: 100%;
}
.gnb .gnb-list {
  display: flex;
  gap: 60px;
  height: 100%;
}
.gnb .gnb-list li a {
  display: flex;
  align-items: center;
  height: 100%;
  color: rgba(255, 255, 255, 0.7);
  transition: 300ms;
  font-size: 15px;
}
.gnb .gnb-list li a:hover {
  color: rgb(255, 255, 255);
}
.gnb .gnb-list li a.on {
  color: rgb(255, 255, 255);
}
.gnb .gnb-list .subMenu-wrapper {
  width: 100%;
  background: #151515;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  transition: 300ms;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner {
  align-items: flex-start;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu {
  padding: 50px 0px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 200px;
  width: 20%;
  flex-shrink: 0;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-left strong {
  font-size: 16px;
  color: #ffffff;
  font-family: "genesis-head", sans-serif;
  font-weight: normal;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-left ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-left ul li a {
  font-size: 18px;
  font-family: "genesis-head", sans-serif;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-left ul li a .on {
  color: rgb(255, 255, 255);
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu.subMenu-link .subMenu-left {
  gap: 20px;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu.subMenu-link .subMenu-left strong {
  font-size: 24px;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu.subMenu-link .subMenu-left p {
  font-size: 14px;
  color: #bbb;
  line-height: 1.5;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-right {
  border-left: solid 1px rgba(255, 255, 255, 0.1);
  width: 100%;
  max-width: 80%;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-right .subMenu-right-model {
  width: 100%;
  padding: 0px 140px;
  box-sizing: border-box;
  opacity: 0;
  overflow: hidden;
  transition: height 600ms, opacity 0ms 600ms;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-right .subMenu-right-model.on {
  transition: height 600ms 300ms, opacity 0ms;
  opacity: 1;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-right .subMenu-right-model .subMenu-item {
  width: 100%;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-right .subMenu-right-model .subMenu-item .swiper-container {
  overflow: hidden;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-right .subMenu-right-model .subMenu-item .swiper-slide ul {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 5%;
  width: 100%;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-right .subMenu-right-model .subMenu-item .swiper-slide ul li {
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-right .subMenu-right-model .subMenu-item .swiper-slide ul li .model-text {
  font-family: "genesis-head-light", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 40px;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-right .subMenu-right-model .subMenu-item .swiper-slide ul li .model-text strong {
  font-size: 30px;
  font-weight: normal;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-right .subMenu-right-model .subMenu-item .swiper-slide ul li .model-text p {
  font-size: 16px;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-right .subMenu-right-model .subMenu-item .swiper-slide ul li .dic-btn {
  height: 50px;
  transform: translateY(0);
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-right .subMenu-right-model .subMenu-item .swiper-slide ul li .dic-btn:hover {
  color: #111111;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-right .subMenu-right-model .subMenu-item .swiper-slide ul li .model-link {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-right .subMenu-right-menu {
  display: flex;
  padding: 0px 40px;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-right .subMenu-right-menu li {
  width: 20%;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-right .subMenu-right-menu li a {
  color: #ffffff;
  font-size: 16px;
  display: inline-flex; /* 100% 영역을 컨텐츠 만큼 차지함*/
  gap: 6px;
  align-items: center;
  position: relative;
  top: 0px;
  left: 0px;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-right .subMenu-right-menu li a span {
  display: block;
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-right .subMenu-right-menu li a span:after {
  content: "";
  width: 0%;
  height: 1px;
  background: #ffffff;
  display: block;
  position: absolute;
  left: 0px;
  bottom: -6px;
}
.gnb .gnb-list .subMenu-wrapper .subMenu-inner .subMenu .subMenu-right .subMenu-right-menu li a span:hover:after {
  transition: 500ms;
  width: 100%;
}

.suppot-menu {
  margin-left: auto;
  display: flex;
  height: 100%;
  gap: 30px;
}
.suppot-menu a {
  color: rgba(255, 255, 255, 0.7);
  transition: 300ms;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
}
.suppot-menu a:hover {
  color: rgb(255, 255, 255);
}
.suppot-menu a img {
  width: 17px;
}
.suppot-menu img {
  display: none;
}
.suppot-menu .search-btn img {
  display: block;
}

.search-wrapper {
  position: relative;
  margin-left: 30px;
  height: 100%;
  display: flex;
  align-items: center;
}
.search-wrapper .search-btn {
  position: relative;
  background: #111111;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.search-wrapper .search-item {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 100%;
}
.search-wrapper .search-item .search-inner {
  background: #111111;
  transition: 300ms;
  position: relative;
  width: 0;
  padding-right: 0;
  box-sizing: border-box;
}
.search-wrapper .search-item .search-inner input {
  width: 100%;
  height: 30px;
  background: #111111;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  border: none;
}
.search-wrapper .search-item .search-inner .search-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
  visibility: hidden;
}
.search-wrapper.on > .search-btn {
  visibility: hidden;
}
.search-wrapper.on .search-item .search-inner {
  width: 250px;
  padding-left: 30px;
}
.search-wrapper.on .search-item .search-inner .search-btn {
  visibility: visible;
}

.sitemap-wrapper {
  width: 66px;
  height: 100%;
  padding: 0px 22px;
  box-sizing: border-box;
  margin-left: 22px;
}
.sitemap-wrapper .ham-btn div {
  width: 100%;
  height: 13px;
  position: relative;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  z-index: 100;
}
.sitemap-wrapper .ham-btn div i {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0px;
  transition: 500ms;
}
.sitemap-wrapper .ham-btn div .line01 {
  top: 0px;
}
.sitemap-wrapper .ham-btn div .line02 {
  top: 100%;
}
.sitemap-wrapper .ham-btn.on .line01 {
  top: 50%;
  transform: rotate(45deg);
}
.sitemap-wrapper .ham-btn.on .line02 {
  top: 50%;
  transform: rotate(-45deg);
}
.sitemap-wrapper .ham-btn:before {
  content: "";
  width: 1px;
  height: 20px;
  background: rgb(255, 255, 255);
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.sitemap-wrapper .sitemap {
  position: absolute;
  top: 0;
  left: 0;
  background: #111111;
  height: 0px;
  width: 100%;
  z-index: 99;
  transition: 500ms;
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
  padding: 0px 140px;
  box-sizing: border-box;
  overflow-y: auto;
}
.sitemap-wrapper .sitemap .sitemap-inner {
  position: relative;
  width: 100%;
  height: 1200px;
}
.sitemap-wrapper .sitemap.on {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  height: 100%;
}

@media screen and (max-width: 1600px) {
  .logo {
    margin-right: 50px;
    width: 100px;
  }
}
@media screen and (max-width: 1360px) {
  .gnb .gnb-list {
    gap: 40px;
  }
  .suppot-menu a .text {
    display: none;
  }
  .suppot-menu a img {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .h-container {
    height: 60px;
  }
  .h-container .logo {
    width: 85px;
  }
  .gnb {
    display: none;
  }
  .suppot-menu .sup-link,
  .suppot-menu .search-btn {
    display: none;
  }
  .ham-btn {
    margin-left: 0px;
  }
  .ham-btn:before {
    display: none;
  }
}
.f-container {
  background: #111111;
}
.f-container .f-sns {
  border-bottom: solid 1px rgba(255, 255, 255, 0.7);
  padding: 24px 0px;
  position: relative;
  top: 0;
  left: 0;
}
.f-container .f-sns .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f-container .f-sns .inner .f-sns-left {
  display: flex;
  align-items: center;
  gap: 24px;
}
.f-container .f-sns .inner .f-sns-left span {
  color: #ffffff;
  font-size: 16px;
}
.f-container .f-sns .inner .f-sns-left .f-sns-list {
  display: flex;
  gap: 24px;
}
.f-container .f-sns .inner .f-sns-left .f-sns-list a {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  transition: 500ms;
}
.f-container .f-sns .inner .f-sns-left .f-sns-list li:hover a {
  color: rgb(255, 255, 255);
}
.f-container .f-sns .inner .f-sns-left .f-sns-btn {
  font-size: 20px;
  background: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.f-container .f-sns .inner .f-top-btn {
  color: #ffffff;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.f-container .f-sns .inner .f-top-btn i {
  font-size: 20px;
}
.f-container .f-sns .f-sns-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  position: absolute;
  top: 0;
  left: 0;
  background: #111111;
  width: 100%;
  transform: translateY(-100%);
  display: none;
}
.f-container .f-sns .f-sns-mobile ul {
  display: flex;
  gap: 30px;
}
.f-container .f-sns .f-sns-mobile ul li a {
  color: #fff;
  font-size: 50px;
}
.f-container .f-notice .inner {
  display: flex;
  align-items: center;
  gap: 20px;
}
.f-container .f-notice .inner .f-notice-list {
  width: 100%;
  overflow: hidden;
}
.f-container .f-notice .inner .f-notice-list .swiper-slide {
  display: flex;
  align-items: center;
}
.f-container .f-notice .inner .f-notice-list a {
  display: block;
  color: #ffffff;
  font-size: 14px;
}
.f-container .f-notice .inner .f-notice-controls {
  display: flex;
  gap: 12px;
  position: relative;
  align-items: baseline;
}
.f-container .f-notice .inner .f-notice-controls button {
  background: transparent;
  border: none;
  color: #ffffff;
  padding: 0px;
  font-size: 20px;
  cursor: pointer;
  position: static;
}
.f-container .f-notice .inner .f-notice-controls button::after {
  display: none;
}
.f-container .f-sitemap {
  background: #151515;
  padding: 90px 0px;
}
.f-container .f-sitemap .f-sitemap-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 0px;
}
.f-container .f-sitemap .f-sitemap-list .item {
  width: 25%;
}
.f-container .f-sitemap .f-sitemap-list .item strong {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
  display: inline-block;
}
.f-container .f-sitemap .f-sitemap-list .item strong a {
  color: #ffffff;
}
.f-container .f-sitemap .f-sitemap-list .item .f-sitemap-btn {
  display: none;
  width: 100%;
  color: #ffffff;
  padding: 20px 30px;
  box-sizing: border-box;
  justify-content: space-between;
  border: none;
  border-top: solid 1px rgba(255, 255, 255, 0.7);
  background: transparent;
  align-items: center;
  cursor: pointer;
}
.f-container .f-sitemap .f-sitemap-list .item .sub-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.f-container .f-sitemap .f-sitemap-list .item .sub-menu li a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  transition: 500ms;
}
.f-container .f-sitemap .f-sitemap-list .item .sub-menu li:hover a {
  color: rgb(255, 255, 255);
}
.f-container .f-compony {
  padding: 30px 0px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}
.f-container .f-compony .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.f-container .f-compony .inner .f-cp-list {
  display: flex;
  align-items: center;
}
.f-container .f-compony .inner .f-cp-list li {
  padding: 0px 24px;
  position: relative;
  top: 0px;
  left: 0px;
}
.f-container .f-compony .inner .f-cp-list li:first-of-type {
  padding-left: 0px;
}
.f-container .f-compony .inner .f-cp-list li:last-of-type {
  padding-right: 0px;
}
.f-container .f-compony .inner .f-cp-list li:after {
  content: "";
  width: 1px;
  height: 15px;
  background: rgba(255, 255, 255, 0.4);
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
}
.f-container .f-compony .inner .f-cp-list li:last-of-type:after {
  display: none;
}
.f-container .f-compony .inner .f-cp-list li a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  transition: 500ms;
}
.f-container .f-compony .inner .f-cp-list li:hover a {
  color: rgb(255, 255, 255);
}
.f-container .f-compony .inner .f-cp-list .privacy a {
  color: #c36f51;
}
.f-container .f-compony .inner .f-cp-list .privacy:hover a {
  color: #ed794f;
}
.f-container .f-compony .inner .f-cp-sns {
  display: flex;
  align-items: center;
  padding: 0px 14px;
  gap: 20px;
}
.f-container .f-compony .inner .f-cp-sns li a {
  font-size: 30px;
  padding: 5px;
  color: #ffffff;
}
.f-container .f-genesis {
  padding: 30px 0px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}
.f-container .f-genesis .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.f-container .f-genesis .inner .f-genesis-list {
  display: flex;
  gap: 24px 48px;
  flex-wrap: wrap;
  align-items: center;
}
.f-container .f-genesis .inner .f-genesis-list li a {
  display: flex;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  align-items: center;
  gap: 10px;
}
.f-container .f-genesis .inner .f-genesis-list li a .bx {
  font-size: 16px;
}
.f-container .f-genesis .inner .f-genesis-list li:hover a {
  color: rgb(255, 255, 255);
}
.f-container .f-genesis .inner .f-lang {
  display: flex;
}
.f-container .f-genesis .inner .f-lang a {
  display: flex;
  width: 80px;
  height: 36px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.f-container .f-genesis .inner .f-lang .eng {
  color: #ffffff;
  background: #222222;
}
.f-container .f-genesis .inner .f-lang .kor {
  color: #222222;
  background: #ffffff;
}
.f-container .f-info {
  padding: 50px 0px;
}
.f-container .f-info .inner .f-info-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0px;
  left: 0px;
}
.f-container .f-info .inner .f-info-wrap .info {
  color: #ffffff;
  font-size: 12px;
  padding-top: 56px;
  background: url(../../images/footer-logo.png) no-repeat center top/132px;
  text-align: center;
  line-height: 1.5;
}
.f-container .f-info .inner .f-info-wrap .f-mark {
  width: 81px;
  height: 58px;
  position: absolute;
  top: 0px;
  right: 0px;
}

@media screen and (max-width: 1024px) {
  .f-container .f-notice {
    padding-top: 60px;
  }
  .f-container .f-notice .inner {
    gap: 60px;
    flex-direction: column;
  }
  .f-container .f-sitemap {
    padding: 0px;
  }
  .f-container .f-sitemap .f-sitemap-list {
    flex-direction: column;
    gap: 0px;
  }
  .f-container .f-sitemap .f-sitemap-list .item {
    width: 100%;
  }
  .f-container .f-sitemap .f-sitemap-list .item strong,
  .f-container .f-sitemap .f-sitemap-list .item .sub-menu {
    display: none;
  }
  .f-container .f-sitemap .f-sitemap-list .item .f-sitemap-btn {
    display: flex;
    font-size: 14px;
  }
  .f-container .f-compony {
    border-bottom: none;
  }
  .f-container .f-compony .inner {
    flex-direction: column;
    gap: 24px;
  }
  .f-container .f-compony .inner .f-cp-list {
    flex-wrap: wrap;
    width: 230px;
    gap: 24px 0px;
    justify-content: center;
  }
  .f-container .f-compony .inner .f-cp-list li {
    padding: 0px 12px;
  }
  .f-container .f-compony .inner .f-cp-list li a {
    font-size: 11px;
  }
  .f-container .f-genesis .inner {
    flex-direction: column;
    gap: 45px;
  }
  .f-container .f-genesis .inner .f-genesis-list {
    flex-direction: column;
    width: 100%;
    gap: 0px;
    align-items: flex-start;
  }
  .f-container .f-genesis .inner .f-genesis-list li {
    border-bottom: solid 1px rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: 24px 10px 18px;
    box-sizing: border-box;
  }
  .f-container .f-genesis .inner .f-genesis-list li a {
    justify-content: space-between;
  }
  .f-container .f-genesis .inner .f-genesis-list li a .bx {
    order: 1;
  }
  .f-container .f-genesis .inner .f-lang {
    width: 100%;
  }
  .f-container .f-genesis .inner .f-lang a {
    width: 50%;
    height: 50px;
  }
  .f-container .f-info .inner .f-info-wrap .f-mark {
    display: none;
  }
}
/*page*/
.chat-icon {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  z-index: 999;
  opacity: 1;
}
.chat-icon .chat-btn {
  border: none;
  background: transparent url(../../images/g_fab_hovered_202304.svg) no-repeat center center/cover;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.chat-icon:hover {
  opacity: 0.8;
}

.container {
  padding-top: 70px;
}

.visual-wrapper {
  width: 100%;
  height: calc(100vh - 70px);
  min-height: 620px;
  position: relative;
  top: 0px;
  left: 0px;
}
.visual-wrapper img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /*
  object-fit 멀티미디오 요소(이미지, 비디오)
  백그라운드에 있는 cover, contain으로 멀티미디어 요소들의 사이즈를 조절할 수 있다.
  */
  -o-object-fit: cover;
     object-fit: cover;
}
.visual-wrapper .swiper-container {
  width: 100%;
  height: 100%;
}
.visual-wrapper .visual-text {
  position: relative;
  top: 0px;
  left: 0px;
  padding-left: 330px;
  padding-top: 60px;
  height: 100%;
  box-sizing: border-box;
}
.visual-wrapper .visual-text:after {
  content: "";
  width: 330px;
  height: 70px;
  box-sizing: border-box;
  border-top: solid 3px #ffffff;
  border-bottom: solid 3px #ffffff;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.visual-wrapper .visual-text .sub-text {
  font-size: 26px;
  font-family: "genesis-head-light", sans-serif;
  color: #ffffff;
}
.visual-wrapper .visual-text .title {
  font-size: 80px;
  font-family: "genesis-head-light", sans-serif;
  color: #ffffff;
  font-weight: 100;
  margin: 20px 0px 24px 0px;
}
.visual-wrapper .visual-text .link-box {
  position: absolute;
  bottom: 22%;
  display: flex;
  gap: 60px;
}
.visual-wrapper .visual-text .link-box a {
  color: #ffffff;
  font-size: 16px;
  display: inline-flex; /* 100% 영역을 컨텐츠 만큼 차지함*/
  gap: 6px;
  align-items: center;
  position: relative;
  top: 0px;
  left: 0px;
}
.visual-wrapper .visual-text .link-box a span {
  display: block;
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
}
.visual-wrapper .visual-text .link-box a span:after {
  content: "";
  width: 0%;
  height: 1px;
  background: #ffffff;
  display: block;
  position: absolute;
  left: 0px;
  bottom: -6px;
}
.visual-wrapper .visual-text .link-box a span:hover:after {
  transition: 500ms;
  width: 100%;
}
.visual-wrapper .visual-controls {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 13%;
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 9;
}
.visual-wrapper .visual-controls .swiper-pagination {
  position: static;
}
.visual-wrapper .visual-controls .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.7);
  border: solid 2px transparent;
  background-clip: padding-box;
}
.visual-wrapper .visual-controls .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: transparent;
  border-color: #ffffff;
}
.visual-wrapper .visual-controls .dot-list {
  display: flex;
  gap: 20px;
}
.visual-wrapper .visual-controls .dot-list li {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.7);
  border: solid 2px transparent;
  /*
      background-clip
      배경 이미지나 배경 컬러를 영역의 어디까지 설정하는지에 대한 속성

      border-box : 테두리 영역과 그 안쪽까지 채워줌
      content-box : 컨텐츠 내용만 영역으로 채움
      padding-box : 안쪽 여백 영역만큼만 채움
  */
  background-clip: padding-box;
}
.visual-wrapper .visual-controls .dot-list li.on {
  background: transparent;
  border-color: #ffffff;
}
.visual-wrapper .visual-controls .pause-btn {
  width: 20px;
  height: 20px;
  font-size: 24px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}
.visual-wrapper .visual-controls .pause-btn .bx-play {
  display: none;
}
.visual-wrapper .visual-controls .pause-btn.on .bx-pause {
  display: none;
}
.visual-wrapper .visual-controls .pause-btn.on .bx-play {
  display: block;
}

.model-wrapper {
  padding: 200px 0px 270px 190px;
}
.model-wrapper .title-box {
  margin-bottom: 30px;
}
.model-wrapper .title-box .title {
  font-size: 42px;
  color: #ffffff;
  font-weight: 100;
  margin-bottom: 30px;
  font-family: "genesis-head-light", sans-serif;
}
.model-wrapper .title-box .text {
  font-size: 16px;
  color: #ffffff;
}
.model-wrapper .category {
  width: 300px;
  margin-bottom: 90px;
  border-bottom: solid 2px #ffffff;
}
.model-wrapper .category .select-hide {
  display: none;
  visibility: hidden;
}
.model-wrapper .category .select {
  display: inline-block;
  position: relative;
  font-size: 20px;
  color: #ffffff;
  width: 100%;
  height: 40px;
  cursor: pointer;
}
.model-wrapper .category .select-style {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #111111;
  transition: 300ms;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.model-wrapper .category .select-style:after {
  content: "";
  background: url(../../images/w-ico-arrow-top.png) no-repeat center right/14px;
  width: 14px;
  height: 14px;
  display: block;
  transform: rotate(-180deg);
  transition: 300ms;
}
.model-wrapper .category .select-style.on::after {
  transform: rotate(0deg);
}
.model-wrapper .category .select-list {
  position: absolute;
  top: 100%;
  display: none;
  left: 0;
  z-index: 99;
  background: #111111;
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.1);
}
.model-wrapper .category .select-list li {
  padding: 14px 0px 14px 10px;
  color: rgba(255, 255, 255, 0.5);
}
.model-wrapper .category .select-list li:hover {
  color: rgb(255, 255, 255);
}
.model-wrapper .category a {
  padding: 14px 0px 14px 10px;
  color: #ffffff;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.model-wrapper .category a:after {
  content: "";
  width: 11px;
  height: 7px;
  background: url(../../images/w-ico-arrow-top.png) no-repeat center center/11px;
  margin-left: auto;
  transform: rotate(180deg);
}
.model-wrapper .category.mobile {
  width: 100%;
  margin: 50px 0px;
  padding: 0px 30px;
  box-sizing: border-box;
  border: none;
}
.model-wrapper .category.mobile .select-style {
  display: none;
}
.model-wrapper .category.mobile .select-list {
  display: flex;
  width: 100%;
  position: static;
}
.model-wrapper .category.mobile .select-list li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}
.model-wrapper .category.mobile .select-list li.on {
  color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
}
.model-wrapper .category-m {
  width: 100%;
  margin: 50px 0px;
  padding: 0px 30px;
  box-sizing: border-box;
}
.model-wrapper .category-m .category-list {
  display: flex;
}
.model-wrapper .category-m .category-list li {
  width: 33%;
  border-bottom: solid 1px #ffffff;
  opacity: 0.5;
}
.model-wrapper .category-m .category-list li a {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 18px;
}
.model-wrapper .category-m .category-list li.on {
  opacity: 1;
}
.model-wrapper .model-list-wrapper {
  overflow: hidden;
  transform: translateX(30%);
  transition: 1000ms;
}
.model-wrapper .model-list-wrapper .model-list {
  margin-bottom: 40px;
}
.model-wrapper .model-list-wrapper .model-list .swiper-slide {
  background: #151515;
  padding: 40px;
  position: relative;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
}
.model-wrapper .model-list-wrapper .model-list .swiper-slide .content-box {
  position: relative;
  top: 0px;
  left: 0px;
  margin-bottom: 60px;
}
.model-wrapper .model-list-wrapper .model-list .swiper-slide .content-box .text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 14px;
  transition: 500ms;
}
.model-wrapper .model-list-wrapper .model-list .swiper-slide .content-box .title {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
  transition: 500ms;
  font-family: "genesis-head-light", sans-serif;
  font-weight: 100;
}
.model-wrapper .model-list-wrapper .model-list .swiper-slide .content-box .icon-list {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  gap: 10px;
}
.model-wrapper .model-list-wrapper .model-list .swiper-slide .content-box .icon-list img {
  display: none;
}
.model-wrapper .model-list-wrapper .model-list .swiper-slide.under .content-box .text {
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin-bottom: 0px;
}
.model-wrapper .model-list-wrapper .model-list .swiper-slide.under .content-box .title {
  padding-bottom: 30px;
}
.model-wrapper .model-list-wrapper .model-list .swiper-slide.ev .icon-list .icon-ev {
  display: block;
}
.model-wrapper .model-list-wrapper .model-list .swiper-slide.new .icon-list .icon-new {
  display: block;
}
.model-wrapper .model-list-wrapper .model-list .swiper-slide:hover .dic-btn {
  transform: translateY(0);
}
.model-wrapper .model-list-wrapper .model-list .swiper-slide:before {
  content: "";
  width: 0px;
  height: 0px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  border-right: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
  opacity: 0;
}
.model-wrapper .model-list-wrapper .model-list .swiper-slide:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: height 500ms, width 500ms 500ms;
}
.model-wrapper .model-list-wrapper .model-list .swiper-slide:after {
  content: "";
  width: 0px;
  height: 0px;
  display: block;
  border-left: solid 1px #ffffff;
  border-top: solid 1px #ffffff;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  position: absolute;
}
.model-wrapper .model-list-wrapper .model-list .swiper-slide:hover:after {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0ms 1000ms, height 500ms 1000ms, width 500ms 1500ms;
}
.model-wrapper .model-list-wrapper .model-dot-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}
.model-wrapper .model-list-wrapper .model-dot-wrapper .swiper-pagination {
  position: static;
}
.model-wrapper .model-list-wrapper .model-dot-wrapper .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
  border: solid 2px transparent;
  background-clip: padding-box;
}
.model-wrapper .model-list-wrapper .model-dot-wrapper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: transparent;
  border-color: #ffffff;
}
.model-wrapper.on .model-list-wrapper {
  transform: translateX(0);
}

.icon-wrapper {
  padding: 0px 100px 250px;
}
.icon-wrapper .icon-list {
  display: flex;
  justify-content: center;
}
.icon-wrapper .icon-list li {
  flex-grow: 1;
}
.icon-wrapper .icon-list li a {
  display: flex;
  color: #ffffff;
  background: url(../../images/quitation.gif) no-repeat center top;
  padding-top: 80px;
  justify-content: center;
  font-size: 16px;
}
.icon-wrapper .icon-list li .icon-sales {
  background-image: url(../../images/sales.gif);
}
.icon-wrapper .icon-list li .icon-drive {
  background-image: url(../../images/drive.gif);
}
.icon-wrapper .icon-list li .icon-catalog {
  background-image: url(../../images/catalog.gif);
}

.award-wrapper {
  padding-bottom: 250px;
}
.award-wrapper .title-box {
  padding-left: 330px;
  margin-bottom: 80px;
}
.award-wrapper .title-box .title {
  color: #ffffff;
  font-size: 42px;
  font-family: "genesis-head-light", sans-serif;
  font-weight: 100;
}
.award-wrapper .award-item {
  position: relative;
  top: 0px;
  left: 0px;
}
.award-wrapper .award-item .award-dot {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.award-wrapper .award-item .award-dot .swiper-pagination {
  padding-left: 330px;
  padding-right: 140px;
  display: flex;
  box-sizing: border-box;
  position: static;
}
.award-wrapper .award-item .award-dot .swiper-pagination .swiper-pagination-bullet {
  width: 16.6666666667%;
  border-top: solid 1px rgba(255, 255, 255, 0.7);
  padding: 18px 0px;
  border: none;
  background: transparent;
  margin: 0;
  opacity: 1;
  border-radius: 0;
  text-align: left;
  position: relative;
  border-top: solid 2px rgba(255, 255, 255, 0.5);
}
.award-wrapper .award-item .award-dot .swiper-pagination .swiper-pagination-bullet:after {
  content: "";
  width: 0;
  height: 2px;
  background: #ffffff;
  position: absolute;
  top: -2px;
  left: 0;
}
.award-wrapper .award-item .award-dot .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  animation: bar_ani 6000ms linear;
}
@keyframes bar_ani {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.award-wrapper .award-item .award-dot .swiper-pagination .swiper-pagination-bullet span {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  width: 90%;
  line-height: 1.5;
}
.award-wrapper .award-item .award-dot .pause-btn {
  width: 54px;
  height: 54px;
  background: url(../../images/ico-pause-default.png) no-repeat center center/54px;
  position: absolute;
  bottom: 0px;
  right: 70px;
  border-radius: 100%;
  border: solid 2px rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.award-wrapper .award-item .text-box {
  width: 520px;
  position: absolute;
  left: 0px;
  bottom: 130px;
  padding-left: 330px;
}
.award-wrapper .award-item .text-box .swiper-container {
  overflow: hidden;
}
.award-wrapper .award-item .text-box .content-title {
  font-size: 42px;
  color: #ffffff;
  line-height: 1.5;
  font-weight: 100;
  font-family: "genesis-head-light", sans-serif;
  margin-bottom: 20px;
  /*
      word-break: 단어의 분리 설정 속성 (아시아권)
      normal : cjk(china,japan,korea) 단어 기준 (기본값)
      break-all : 문자 강제 줄바꿈
      keep-all : 문자 간격 사이에서 줄바꿈 (띄어쓰기 기준으로 줄바꿈) 
      word-wrap : 영어권 단어 기준
  */
  word-break: keep-all;
}
.award-wrapper .award-item .text-box .content-text {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.7;
}

.option-wrapper {
  padding-bottom: 230px;
}
.option-wrapper .opt-list {
  display: flex;
  gap: 40px;
}
.option-wrapper .opt-list .opt-item {
  position: relative;
  top: 0px;
  left: 0px;
  background: url(../../images/space.jpg) no-repeat center center/cover;
  height: 0%;
  padding-top: 27.6%;
  flex-grow: 1;
}
.option-wrapper .opt-list .opt-item:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.option-wrapper .opt-list .opt-item .text-box {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 60px;
  width: 500px;
  z-index: 2;
}
.option-wrapper .opt-list .opt-item .text-box .title {
  color: #ffffff;
  font-size: 42px;
  font-family: "genesis-head-light", sans-serif;
  font-weight: 100;
}
.option-wrapper .opt-list .opt-item .text-box .text {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.7;
  margin: 24px 0px;
  word-break: keep-all;
}
.option-wrapper .opt-list .trip {
  background-image: url(../../images/roadtrip.jpg);
}

.event-wrapper {
  width: 100%;
  height: 0px;
  position: relative;
  top: 0px;
  height: 0px;
  padding-top: 49.5%;
  margin-bottom: 240px;
}
.event-wrapper .event-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.event-wrapper .event-img-wrapper img.pc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1000ms;
  transform: scale(1.5);
  opacity: 0;
}
.event-wrapper .text-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 140px;
}
.event-wrapper .text-box .title, .event-wrapper .text-box .text, .event-wrapper .text-box .dic-btn {
  transition: 1500ms;
  opacity: 0;
  transform: translateY(200%);
}
.event-wrapper .text-box .title {
  font-size: 54px;
  font-family: "genesis-head-light", sans-serif;
  font-weight: 100;
  color: #ffffff;
  transition-delay: 0ms;
}
.event-wrapper .text-box .text {
  font-size: 26px;
  color: #ffffff;
  margin: 60px 0px 40px;
  transition-delay: 500ms;
}
.event-wrapper .text-box .dic-btn {
  width: 240px;
}
.event-wrapper .text-box .dic-btn.on {
  transition-delay: 1000ms;
}
.event-wrapper.on .event-img-wrapper img.pc {
  transform: scale(1);
  opacity: 1;
}
.event-wrapper.on .text-box .title, .event-wrapper.on .text-box .text, .event-wrapper.on .text-box .dic-btn {
  transform: translateY(0);
  opacity: 1;
}

.sns-wrapper {
  padding: 150px 0px 120px;
  background: #ffffff;
}
.sns-wrapper .title-box {
  text-align: center;
  margin-bottom: 80px;
}
.sns-wrapper .title-box .sub-title {
  color: #111111;
  font-size: 18px;
  margin-bottom: 20px;
}
.sns-wrapper .title-box .title {
  color: #111111;
  font-size: 54px;
  font-family: "genesis-head-light", sans-serif;
  font-weight: 100;
}
.sns-wrapper .sns-list {
  display: flex;
  gap: 8px;
  cursor: pointer;
}
.sns-wrapper .sns-list li {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
}
.sns-wrapper .sns-list li .sns-img {
  position: relative;
  top: 0px;
  left: 0px;
  padding-top: 100%;
  overflow: hidden;
}
.sns-wrapper .sns-list li .sns-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 500ms;
}
.sns-wrapper .sns-list li .text-box {
  position: absolute;
  left: 0px;
  bottom: 0px;
  transition: 300ms;
  padding: 0px 40px 30px 70px;
  opacity: 0;
  transition: 300ms;
  z-index: 5;
}
.sns-wrapper .sns-list li .text-box > .bx {
  font-size: 24px;
  color: #ffffff;
  position: absolute;
  top: -8px;
  left: 30px;
}
.sns-wrapper .sns-list li .text-box .text {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 28px;
  max-height: 56px;
}
.sns-wrapper .sns-list li:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  background: rgba(0, 0, 0, 0);
  transition: 300ms;
}
.sns-wrapper .sns-list li:hover:after {
  background: rgba(0, 0, 0, 0.7);
}
.sns-wrapper .sns-list li:hover .sns-img img {
  transform: translate(-50%, -50%) scale(1.2);
}
.sns-wrapper .sns-list li:hover .text-box {
  opacity: 1;
}
.sns-wrapper .dic-btn {
  border-color: #111111;
  width: 240px;
  height: 56px;
  color: #111111;
  margin: 60px auto 0px;
  transform: translateY(0);
  justify-content: space-between;
  padding: 0px 18px 0px 30px;
}
.sns-wrapper .dic-btn:after {
  background-color: #111111;
}
.sns-wrapper .dic-btn:hover {
  color: #ffffff;
}

.more-wrapper {
  background: #ffffff;
  padding-bottom: 120px;
}
.more-wrapper .title-box {
  margin-bottom: 40px;
  text-align: center;
}
.more-wrapper .title-box .title {
  font-size: 30px;
  font-family: "genesis-head", sans-serif;
}
.more-wrapper .more-list {
  display: flex;
  gap: 40px;
}
.more-wrapper .more-list li {
  transition: 1500ms;
  transform: translateY(100px);
  opacity: 0;
}
.more-wrapper .more-list li .more-img {
  margin-bottom: 30px;
}
.more-wrapper .more-list li .text-box .title {
  font-size: 18px;
}
.more-wrapper .more-list li .text-box .text {
  font-size: 16px;
  margin: 24px 0px;
}
.more-wrapper .more-list li .text-box .link-text-btn.v2 {
  color: #111111;
}
.more-wrapper .more-list li .text-box .link-text-btn.v2 span:before, .more-wrapper .more-list li .text-box .link-text-btn.v2 span:after {
  background: #111111;
}
.more-wrapper.on .more-list li {
  transform: translateY(0);
  opacity: 1;
}
.more-wrapper.on .more-list li:nth-of-type(1) {
  transition-delay: 0s;
}
.more-wrapper.on .more-list li:nth-of-type(2) {
  transition-delay: 250ms;
}
.more-wrapper.on .more-list li:nth-of-type(3) {
  transition-delay: 500ms;
}

@media screen and (max-width: 1600px) {
  .visual-wrapper .visual-text {
    padding-left: 248px;
    padding-top: 70px;
  }
  .visual-wrapper .visual-text:after {
    width: 248px;
  }
  .visual-wrapper .visual-text .sub-text {
    font-size: 20px;
  }
  .visual-wrapper .visual-text .title {
    font-size: 60px;
    margin: 10px 0px 16px 0px;
  }
  .visual-wrapper .visual-text .link-box a {
    font-size: 14px;
  }
  .visual-wrapper .visual-controls {
    gap: 20px;
  }
  .visual-wrapper .visual-controls .dot-list {
    gap: 12px;
  }
  .visual-wrapper .visual-controls .dot-list li {
    width: 6px;
    height: 6px;
  }
  .model-wrapper {
    padding: 180px 0px 230px 150px;
  }
  .model-wrapper .title-box .title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .model-wrapper .title-box .text {
    font-size: 14px;
  }
  .model-wrapper .model-list-wrapper .model-list {
    margin-bottom: 30px;
  }
  .model-wrapper .model-list-wrapper .model-list li {
    padding: 30px 20px;
  }
  .model-wrapper .model-list-wrapper .model-list li .content-box .title {
    font-size: 20px;
  }
  .model-wrapper .model-list-wrapper .model-list li .content-box .text {
    font-size: 14px;
  }
  .model-wrapper .model-list-wrapper .model-list li .dic-btn {
    margin-top: 20px;
  }
  .model-wrapper .model-list-wrapper .model-dot-wrapper .dot-list {
    gap: 12px;
  }
  .model-wrapper .model-list-wrapper .model-dot-wrapper .dot-list li {
    width: 6px;
    height: 6px;
  }
  .award-wrapper .title-box {
    padding-left: 240px;
    margin-bottom: 60px;
  }
  .award-wrapper .title-box .title {
    font-size: 36px;
  }
  .award-wrapper .award-item .award-dot .swiper-pagination {
    padding-left: 248px;
    padding-right: 100px;
  }
  .award-wrapper .award-item .award-dot .pause-btn {
    right: 30px;
  }
  .award-wrapper .award-item .text-box {
    width: 350px;
    padding-left: 248px;
  }
  .award-wrapper .award-item .text-box .content-title {
    font-size: 34px;
  }
  .award-wrapper .award-item .text-box .content-text {
    font-size: 14px;
  }
  .option-wrapper {
    padding-bottom: 210px;
  }
  .option-wrapper .opt-list .opt-item .text-box {
    padding: 40px;
  }
  .option-wrapper .opt-list .opt-item .text-box .title {
    font-size: 26px;
  }
  .option-wrapper .opt-list .opt-item .text-box .text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .event-wrapper .text-box {
    left: 100px;
  }
  .event-wrapper .text-box .title {
    font-size: 42px;
  }
  .event-wrapper .text-box .text {
    font-size: 20px;
    margin: 50px 0px 30px;
  }
  .event-wrapper .text-box .dic-btn {
    width: 200px;
    height: 50px;
  }
  .sns-wrapper {
    padding: 140px 0px 110px;
  }
  .sns-wrapper .title-box {
    margin-bottom: 60px;
  }
  .sns-wrapper .title-box .sub-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .sns-wrapper .title-box .title {
    font-size: 42px;
  }
  .sns-wrapper .sns-list li .text-box {
    padding: 0px 24px 20px 64px;
  }
  .sns-wrapper .sns-list li .text-box > .bx {
    left: 24px;
  }
  .more-wrapper .more-list .text-box .title {
    font-size: 16px;
  }
  .more-wrapper .more-list .text-box .text {
    font-size: 14px;
  }
}
@media screen and (max-width: 1360px) {
  .visual-wrapper {
    height: 0px;
    padding-top: 60%;
    min-height: 0px;
  }
  .visual-wrapper .visual-item {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .visual-wrapper .visual-text {
    padding: 90px 0px 0px 224px;
  }
  .visual-wrapper .visual-text:after {
    width: 224px;
  }
  .visual-wrapper .visual-text .sub-text {
    font-size: 18px;
  }
  .visual-wrapper .visual-text .title {
    font-size: 48px;
  }
  .model-wrapper {
    padding-top: 160px;
  }
  .model-wrapper .title-box .title {
    font-size: 26px;
    margin-bottom: 16px;
  }
  .model-wrapper .title-box .text {
    font-size: 12px;
  }
  .model-wrapper .model-list-wrapper .model-list {
    gap: 20px;
    margin-bottom: 20px;
  }
  .model-wrapper .model-list-wrapper .model-list li .content-box .title {
    font-size: 18px;
  }
  .model-wrapper .model-list-wrapper .model-list li .content-box .text {
    font-size: 13px;
  }
  .award-wrapper .title-box {
    padding-left: 220px;
    margin-bottom: 40px;
  }
  .award-wrapper .title-box .title {
    font-size: 26px;
  }
  .award-wrapper .award-item .award-dot .swiper-pagination {
    padding-left: 220px;
    padding-right: 75px;
  }
  .award-wrapper .award-item .award-dot .swiper-pagination .swiper-pagination-bullet span {
    font-size: 12px;
  }
  .award-wrapper .award-item .text-box {
    padding-left: 220px;
    width: 270px;
  }
  .award-wrapper .award-item .text-box .content-title {
    font-size: 24px;
  }
  .award-wrapper .award-item .text-box .content-text {
    font-size: 13px;
  }
  .option-wrapper {
    padding-bottom: 190px;
  }
  .option-wrapper .opt-list {
    gap: 20px;
  }
  .option-wrapper .opt-list .opt-item .text-box {
    padding: 30px;
    width: 430px;
  }
  .option-wrapper .opt-list .opt-item .text-box .title {
    font-size: 20px;
  }
  .option-wrapper .opt-list .opt-item .text-box .text {
    font-size: 12px;
    margin: 12px 0px;
  }
  .event-wrapper {
    margin-bottom: 200px;
  }
  .event-wrapper .text-box {
    left: 75px;
  }
  .event-wrapper .text-box .title {
    font-size: 26px;
  }
  .event-wrapper .text-box .text {
    font-size: 16px;
    margin: 30px 0px 16px;
  }
  .event-wrapper .text-box .dic-btn {
    width: 188px;
    height: 46px;
  }
  .sns-wrapper {
    padding: 130px 0px 100px;
  }
  .sns-wrapper .title-box {
    margin-bottom: 40px;
  }
  .sns-wrapper .title-box .sub-title {
    font-size: 12px;
  }
  .sns-wrapper .title-box .title {
    font-size: 26px;
  }
  .sns-wrapper .sns-list li .text-box {
    padding: 0px 30px 14px 60px;
  }
  .sns-wrapper .sns-list li .text-box .text {
    font-size: 12px;
  }
  .more-wrapper {
    padding-bottom: 100px;
  }
  .more-wrapper .title-box .title {
    font-size: 28px;
  }
}
@media screen and (max-width: 1024px) {
  .visual-wrapper .visual-text {
    padding: 12px 0px 0px 60px;
  }
  .visual-wrapper .visual-text:after {
    display: none;
  }
  .visual-wrapper .visual-text .link-box a {
    font-size: 12px;
  }
  .visual-wrapper .visual-controls {
    bottom: 10%;
  }
  .model-wrapper {
    padding-left: 80px;
  }
  .award-wrapper .title-box {
    padding-left: 100px;
  }
  .award-wrapper .award-item .award-dot {
    position: static; /*포지션 해제*/
  }
  .award-wrapper .award-item .award-dot .swiper-pagination {
    padding-left: 0px;
    padding-right: 20px;
    margin-top: 20px;
  }
  .award-wrapper .award-item .award-dot .pause-btn {
    bottom: 130px;
  }
  .award-wrapper .award-item .text-box {
    padding-left: 100px;
    width: 310px;
  }
  .option-wrapper .opt-list .opt-item {
    padding-top: 65.4%;
    background-image: url(../../images/space-m.jpg);
  }
  .option-wrapper .opt-list .opt-item .text-box {
    width: 300px;
  }
  .option-wrapper .opt-list .trip {
    background-image: url(../../images/roadtrip-m.jpg);
  }
  .event-wrapper .text-box {
    left: 50px;
  }
  .sns-wrapper .sns-list {
    flex-wrap: wrap;
  }
  .sns-wrapper .sns-list li {
    width: calc(50% - 4px);
  }
  .sns-wrapper .sns-list li .sns-img {
    padding-top: 39%;
  }
  .sns-wrapper .sns-list li:first-of-type {
    width: 100%;
  }
  .sns-wrapper .sns-list li .text-box {
    padding: 0px 30px 20px 50px;
  }
  .sns-wrapper .sns-list li .text-box > .bx {
    left: 20px;
  }
  .sns-wrapper .sns-list li .text-box .text {
    font-size: 12px;
  }
  .more-wrapper .title-box {
    margin-bottom: 100px;
  }
  .more-wrapper .more-list li .text-box .title {
    font-size: 18px;
  }
  .more-wrapper .more-list li .text-box .text {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .visual-wrapper {
    height: calc(100vh - 60px);
    padding-top: 0px;
  }
  .visual-wrapper .visual-text {
    padding: 40px 0px 0px 20px;
  }
  .visual-wrapper .visual-text .title {
    font-size: 42px;
  }
  .visual-wrapper .visual-text .link-box {
    flex-direction: column;
    gap: 20px;
    bottom: 80px;
  }
  .visual-wrapper .visual-text .link-box a {
    font-size: 16px;
  }
  .visual-wrapper .visual-controls {
    bottom: 24px;
  }
  .model-wrapper {
    padding: 120px 0px;
    overflow: hidden;
  }
  .model-wrapper .inner {
    padding: 0px;
  }
  .model-wrapper .inner .title-box {
    padding: 0px 30px;
  }
  .model-wrapper .inner .title-box .title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .model-wrapper .inner .title-box .text {
    font-size: 16px;
  }
  .model-wrapper .inner .model-list-wrapper .model-list {
    gap: 0px;
    margin-bottom: 30px;
  }
  .model-wrapper .inner .model-list-wrapper .model-list li {
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
  }
  .model-wrapper .inner .model-list-wrapper .model-list li .content-box .title {
    font-size: 24px;
  }
  .model-wrapper .inner .model-list-wrapper .model-list li .content-box .text {
    font-size: 14px;
  }
  .model-wrapper .inner .model-list-wrapper .model-dot-wrapper .model-dot-list li {
    width: 8px;
    height: 8px;
  }
  .icon-wrapper {
    padding: 0px;
    padding-bottom: 80px;
  }
  .icon-wrapper .inner {
    padding: 0px;
  }
  .icon-wrapper .inner .icon-list {
    flex-direction: column;
    justify-content: start;
  }
  .icon-wrapper .inner .icon-list li {
    width: 100%;
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    padding-left: 30px;
    box-sizing: border-box;
  }
  .icon-wrapper .inner .icon-list li a {
    justify-content: start;
    background-position: left center;
    background-size: 28px;
    padding: 46px;
    align-items: center;
  }
  .icon-wrapper .inner .icon-list li:first-of-type {
    border-top: none;
  }
  .award-wrapper {
    padding-bottom: 140px;
  }
  .award-wrapper .title-box {
    padding-left: 30px;
  }
  .award-wrapper .title-box .title {
    font-size: 30px;
  }
  .award-wrapper .award-item .award-dot {
    padding: 0px 30px;
    box-sizing: border-box;
    margin-bottom: 40px;
  }
  .award-wrapper .award-item .award-dot .swiper-pagination {
    overflow: hidden;
  }
  .award-wrapper .award-item .award-dot .swiper-pagination .swiper-pagination-bullet {
    /*
    Flex Item의 크기를 설정한다. 이때 axis 방향으로의 크기를 설정한다.
    즉 위의 상태에서 box에 flex-basis 값을 준 경우 box의 좌우 너비가 변하고, 
    flex-direction: column인 경우 높이가 변한다.
    이때, "flex-shrink" 속성을 0으로 설정하지 않는다면 내부 컨텐츠에 따라 유연한 크기를 갖는다.
    */
    flex-shrink: 0;
    width: 77%;
  }
  .award-wrapper .award-item .award-dot .swiper-pagination .swiper-pagination-bullet span {
    font-size: 14px;
  }
  .award-wrapper .award-item .text-box {
    position: static;
    width: 100%;
    padding: 0px 30px;
    box-sizing: border-box;
  }
  .award-wrapper .award-item .text-box .content-title {
    font-size: 30px;
  }
  .award-wrapper .award-item .text-box .content-text {
    font-size: 16px;
  }
  .option-wrapper {
    padding-bottom: 150px;
  }
  .option-wrapper .opt-list {
    flex-direction: column; /*세로 정렬*/
  }
  .option-wrapper .opt-list .opt-item {
    padding-top: 133%; /*세로 / 가로 * 100*/
  }
  .option-wrapper .opt-list .opt-item .text-box {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
  }
  .option-wrapper .opt-list .opt-item .text-box .title {
    font-size: 30px;
  }
  .option-wrapper .opt-list .opt-item .text-box .text {
    font-size: 14px;
  }
  .event-wrapper {
    margin-bottom: 150px;
    padding-top: 167%;
  }
  .event-wrapper .text-box {
    width: 100%;
    padding: 0px 30px;
    box-sizing: border-box;
    left: 0px;
  }
  .event-wrapper .text-box .title {
    font-size: 36px;
  }
  .event-wrapper .text-box .text {
    font-size: 26px;
    margin: 40px 0px 30px;
  }
  .event-wrapper .text-box .dic-btn {
    width: 100%;
    height: 56px;
  }
  .event-wrapper.mobile .event-img-wrapper {
    position: fixed;
    top: 0;
    left: 0;
  }
  .sns-wrapper {
    padding: 100px 0px 80px;
  }
  .sns-wrapper .title-box {
    margin-bottom: 40px;
  }
  .sns-wrapper .title-box .sub-title {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .sns-wrapper .title-box .title {
    font-size: 36px;
  }
  .sns-wrapper .sns-list {
    gap: 0px;
  }
  .sns-wrapper .sns-list li {
    width: 100%;
  }
  .sns-wrapper .sns-list li .sns-img {
    padding-top: 56%;
  }
  .sns-wrapper .sns-list li:first-of-type .sns-img {
    padding-top: 100%;
  }
  .sns-wrapper .sns-list li .text-box {
    position: relative;
    opacity: 1;
    padding: 20px 50px 40px 30px;
  }
  .sns-wrapper .sns-list li .text-box > .bx {
    top: -40px;
    left: 30px;
  }
  .sns-wrapper .sns-list li .text-box .text {
    color: #111111;
    font-size: 14px;
  }
  .sns-wrapper .sns-list li .text-box .link-text-btn .v2 {
    color: #111111;
  }
  .sns-wrapper .sns-list li .text-box .link-text-btn .v2 span:before, .sns-wrapper .sns-list li .text-box .link-text-btn .v2 span:after {
    background: #111111;
  }
  .sns-wrapper .sns-list li:after {
    display: none;
  }
  .sns-wrapper .dic-btn {
    width: calc(100% - 60px);
    margin: 0px auto;
  }
  .more-wrapper {
    padding-bottom: 80px;
  }
  .more-wrapper .title-box {
    margin-bottom: 20px;
  }
  .more-wrapper .more-list {
    flex-direction: column;
    gap: 70px;
  }
}