// 헤더와 푸터는 보통 페이지에 상관없이 따라오기 때문에 따로 분류해서 관리해 준다. 
.h-container{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    background: $black;
    .inner{
        display: flex;
        // 수직정렬
        align-items: center;
    }
}
.logo{
    width: 125px;
    margin-right: 68px;
}
.gnb{
    height: 100%;

    .gnb-list{
        display: flex;
        gap: 60px;
        height: 100%;
        
        li a{
            display: flex;
            align-items: center;
            height: 100%;
            color: rgba(255,255,255,0.7);
            transition: 300ms;
            font-size : 15px;
            &:hover{
                color: rgba(255,255,255,1);
            }
            &.on{
                color: rgba(255, 255, 255, 1);
            }

        } // li a
        
        // drop-menu subMenu-left style
        .subMenu-wrapper{
            width: 100%;
            background: #151515;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 99;
            border-top: solid 1px rgba(255,255,255,0.1);
            .subMenu-inner{
                align-items: flex-start;
                
                .subMenu{
                    padding: 50px 0px;
                    box-sizing: border-box;
                    width: 100%;
                    display: flex;
                    .subMenu-left{
                        display: flex;
                        flex-direction: column;
                        gap: 50px;
                        max-width: 200px;
                        width: 20%;
                        flex-shrink: 0;
                        strong{
                            font-size: 16px;
                            color: $white;
                            font-family: $title;
                            font-weight: normal;
                        }
                        ul{
                            display: flex;
                            gap: 20px;
                            flex-direction: column;
                            li a{
                                font-size: 18px;
                                font-family: $title;
                                .on{
                                    color: rgba(255, 255, 255, 1);
                                }
                            }
                        }
                    }
                    &.subMenu-link{
                        .subMenu-left{
                            gap: 20px;
                            strong{
                                font-size: 24px;
                            }
                            p{
                                font-size: 14px;
                                color: #bbb;
                                line-height: 1.5;
                            }
                        }
                    }

                    .subMenu-right{
                        border-left: solid 1px rgba(255,255,255,0.1);
                        width: 100%;
                        max-width: 80%;
                        .subMenu-right-model{
                            width: 100%;
                            padding: 0px 140px;
                            box-sizing: border-box;
                            opacity: 0;
                            overflow: hidden;
                            transition: height 600ms, opacity 0ms 600ms;
                            &.on{
                                transition: height 600ms 300ms, opacity 0ms;
                                opacity: 1;
                            }
                            .subMenu-item{
                                width: 100%;
                                .swiper-container{
                                    overflow: hidden;
                                }
                                .swiper-slide{
                                    ul{
                                        display: flex;
                                        flex-wrap: wrap;
                                        gap: 50px 5%;
                                        width: 100%;
                                        li{
                                            width: 30%;
                                            // background: rgba(255,255,255,0.1);
                                            // filter: blur(4px);
                                            padding: 20px;
                                            box-sizing: border-box;
                                            .model-text{
                                                font-family: $titleLight;
                                                color: rgba(255,255,255,0.7);
                                                margin-bottom: 40px;
                                                strong{
                                                    font-size: 30px;
                                                    font-weight: normal;
                                                }
                                                p{
                                                    font-size: 16px;
                                                }
                                            }
                                            .dic-btn{
                                                height: 50px;
                                                transform: translateY(0);
                                                &:hover{
                                                    color: $black;
                                                }
                                            }
                                            .model-link{
                                                // position: relative;
                                                display: flex;
                                                flex-direction: column;
                                                gap: 12px;
                                                margin-top: 20px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .subMenu-right-menu{
                            display: flex;
                            padding: 0px 40px;
                            li{
                                width: 20%;
                                a{
                                    @include linkBtn();
                                }
                            }
                        }
                    } // subMenu-right
                }    
            }
        }
    } // gnb-list
}

.suppot-menu{
    // margin : auto 내 영역 제외한 영역을 margin 으로 잡음
    margin-left: auto;
    display: flex;
    height: 100%;
    gap: 30px;
    a{
        color: rgba(255,255,255,0.7);
        transition: 300ms;
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 14px;
        &:hover{
            color: rgba(255,255,255,1);
        }
        img{
            width: 17px;
        }
    }
    img{
        display: none;
    }
    .search-btn{
        img{
            display: block;
        }
    }
}

// 검색기능 css
.search-wrapper{
    position: relative;
    margin-left: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    .search-btn{
        position: relative;
        background: $black;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .search-item{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        height: 100%;
        .search-inner{
            background: $black;
            transition: 300ms;
            position: relative;
            width: 0; 
            padding-right: 0;
            input{
                width: 0;
                height: 30px;
                background: $black;
                border-radius: 5px;
                box-sizing: border-box;
                color: #fff;
                border: none;
            }
            .search-btn{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 30px;
                border: none;
                background: transparent;
                cursor: pointer;
                visibility: hidden; // 숨김 처리
            }
        }
    }

    // 동작 class
    &.on{
        >.search-btn{
            visibility: hidden;
        }
        .search-item{
            .search-inner{
                width: 250px;
                padding-left: 30px;
                input{
                    width: 250px;
                }
                .search-btn{
                    visibility: visible;
                }
            }
        }
    }
}

.ham-btn{
    width: 66px;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px 22px;
    box-sizing: border-box;
    margin-left: 22px;

    div{
        width: 100%;
        height: 13px;
        position: relative;
        top: 50%;
        left: 0px;
        // 세로 정렬
        transform: translateY(-50%);
        i{
            width: 100%;
            height: 2px;
            background-color: $white;
            position: absolute;
            left: 0px;
            transition: 500ms;
        }
        .line01{
            top: 0px;
        }
        .line02{
            top: 100%;
        }
    }
     // 햄버거 호버했을때 각각 로테이트 해서 x 자로 만드는 css
    &:hover{
        .line01{
            top: 50%;
            transform: rotate(45deg);
        }
        .line02{
            top: 50%;
            transform: rotate(-45deg);
        }
    }

    &:before{
        content: "";
        width: 1px;
        height: 20px;
        background: rgba(255,255,255,1);
        display: inline-block;
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        
    }
}
@include laptop{
    .logo{
        margin-right: 50px;
        width: 100px;
    }
}
@include laptop02{
    .gnb{
        .gnb-list{
            gap: 40px;
        }
    }
    .suppot-menu{
        a{
            .text{
                display: none;
            }
            img{
                display: block;
            }
        }
    }
    
}

@include tablet{
    .h-container{
        height: 60px;
        .logo{
            width: 85px;
        }
    }
    .gnb{
        display: none;
    }
    .suppot-menu{
        .sup-link,
        .search-btn{
            display: none;
        }
    }
    .ham-btn{
        margin-left: 0px;
        &:before{
            display: none;
        }
    }
}
