<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="reset.css">
    <style>
        /* 
        
        align-conten는 상대축의 여러줄의 행을 정렬해주는 속성

        위 속성을 적용하기 위해서는 flex-wrap가 nowrap 값이면 안된다.
        속성값은 justify-content와 같으며,
        space-evenly ie에서 호환하지 않기 때문에 다른 속성으로 대체해야 한다.

        

        */
        .container{
            display: flex;
            height: 500px;
            align-content: space-around ;
            flex-wrap: wrap;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="item">Lorem.</div>
        <div class="item">Lorem, ipsum.</div>
        <div class="item">Lorem, ipsum dolor.</div>
        <div class="item">Lorem.</div>
        <div class="item">Lorem, ipsum.</div>
        <div class="item">Lorem, ipsum dolor.</div>
        <div class="item">Lorem.</div>
        <div class="item">Lorem, ipsum.</div>
        <div class="item">Lorem, ipsum dolor.</div>
        <div class="item">Lorem.</div>
        <div class="item">Lorem, ipsum.</div>
        <div class="item">Lorem, ipsum dolor.</div>
        <div class="item">Lorem.</div>
        <div class="item">Lorem, ipsum.</div>
        <div class="item">Lorem, ipsum dolor.</div>
        <div class="item">Lorem.</div>
        <div class="item">Lorem, ipsum.</div>
        <div class="item">Lorem, ipsum dolor.</div>
        <div class="item">Lorem.</div>
        <div class="item">Lorem, ipsum.</div>
        <div class="item">Lorem, ipsum dolor.</div>
        <div class="item">Lorem.</div>
        <div class="item">Lorem, ipsum.</div>
        <div class="item">Lorem, ipsum dolor.</div>
    </div>
    
</body>
</html>