<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="reset.css">
    <style>
        /* 
        align-self
        align-itmes의 item 버전 item는 자식요소 전체에 대한 정렬이라면
        self는 개별적 요소로 적용
        기본값은 auto로 container 에 적용되는 값을 상속 받는다.
        items와 self가 중복되는 경우 items보다 더 우선순위를 가져온다.

        jusigy-self는 grid에만 적용되는 속성
        */
        .container{
            display: flex;
            height: 500px;
            align-items: center;
        }
        .container .item:nth-of-type(2){
            align-self: flex-end;
            justify-self: flex-end;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="item">Lorem.</div>
        <div class="item">Lorem, ipsum.</div>
        <div class="item">Lorem, ipsum dolor.</div>
    </div>    
</body>
</html>