.item1 {
  color: coral;
  border: solid 2px #000000;
  background-color: pink;
  padding: 10px;
}

.item2 {
  color: cyan;
  border: solid 1px #000000;
  background-color: skyblue;
  padding: 10px;
}

.item3 {
  color: green;
  border: solid 3px #000000;
  background-color: lime;
  padding: 10px;
}