$item : (
    item1 : (
        color : coral,
        border-width: 2px,
        background-color : pink,
    ),
    item2 : (
        color : cyan,
        border-width: 1px,
        background-color : skyblue,
    ),
    item3 : (
        color : green,
        border-width: 3px,
        background-color : lime,
    )
);

@for $i from 1 through length($item){
    // nth() = 배열안에 있는 특정 순번에 있는 값을 출력
    // 여기서 $i 는 1부터 $item 의 길이만큼 순회하는 작용을 한다.
    $class : nth(map-keys($item), $i);
    $props : map-get($item, $class);
   
    // 선택자나 속성은 일반 변수로는 처리가 불가능하다.
    // 이를 처리하기 위해서 문자보간을 사용하는데, #{}를 사용하면 코드의 어디든지 변수값을 넣을 수 있다. 
    // 현재 함수에서는 for 문을 사용하기 때문에 변수는 반복을 통해 순서대로 출력된다.
    
    .#{$class}{
        color : map-get($props, color);
        border : solid map-get($props, border-width) #000000;
        background-color : map-get($props, background-color);
        padding: 10px;
    }
}